/*------------------ header*/


.header-outer{
    width: 100%;
}

.header-inner{
    width: 1024px;
    max-width:1024px;
    margin:0 auto;
}


.site-name{
    float: left;
    padding-top: 30px;
    overflow: hidden;

}

.top-nav-block{
    float: right;
    padding-top: 30px;
}

.tnb-menu{
    float: right;
}

.tnb-menu li{
    float: left;
    background: url('links-marker.gif') 0 5px no-repeat;
    float: left;
    line-height: 12px;
    margin-left: 24px;
    padding: 0 0 0 9px;
}

.tnb-menu li a{
    color: #C3BDD4;
    font-size: 10px;
    line-height: 12px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: ;
}

.tnb-menu li a:active, .tnb-menu li a.active, .tnb-menu li a:hover{
    color: #F74275;
}

.user-login, .cart{
    margin-right: 20px;
    margin-top: 14px;
    float: right;
}

.user-login{
    border-right: 1px solid #53515A;
    color: #756E8A;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
     margin: 12px 30px 0 0;
    padding: 7px 17px 6px 0;
}

.user-login a{
    color: #756E8A;
    font-size: 11px;
    line-height: 14px;
    text-decoration: underline;
    text-transform: capitalize;
}


.user-login a:hover{
    text-decoration: none; 
}

.cart{
    background: url('cart-icon.png')  0 0 no-repeat;
    float: right;
    padding: 3px 0 0 27px;
    clear: right;
    position:relative;

}

.cart > p{
    cursor: pointer;
}

.mini-cart-info{
     background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    clear: both;
    float: right;
    position: absolute;
    right: 0;
    top: 22px;
    width: 220px;
}

.mci-header{
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #ccc;
}

.mini-cart-list li{
    background: #fff url('mini-cart-list.gif') left bottom repeat-x;
    position:relative;
    padding: 10px 0;
}

.mini-cart-list img{
    float: left;
    margin-right: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
    display: block;
    margin-left: 5px;
}



.remover{
    position: absolute;
    background: #ccc url('close.png') 0 0 no-repeat;
    right: 5px;
    top: 5px;
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.remover:hover{
    background-position:0 -11px;
}


.cart p{
    color: #A6A4A4;
    font-size: 11px;
    line-height: 15px;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;

}

.cart strong{
    margin-left: 10px;
}

.mini-cart-list span{
    font-size: 11px;
    font-weight: bold;
}

.mci-footer{
    font-size: 12px;
    text-align: right;
    padding: 10px;
}

.mci-footer p{
    text-align: right;
}

.mci-buy{
    margin: 10px 0 0 ;
}

/*------THE END------------ header*/




/*------------------ main menu*/


.main-menu{
    clear: both;
    margin: 30px auto;
    background: url('tail-menu.gif') repeat-x scroll 0 top #F53665;
}

.mm-items{
     display: block; 
     background: url('menu-bg.gif') no-repeat scroll 0 0 transparent;
     float: left;
}

.mm-items li{
    display: block;
    float: left;
    padding-right: 1px;
   background: url('separator.png') no-repeat scroll right 1px transparent;
}


.mm-items li a{
     display: block;
    font-family: 'Emilys Candy',cursive;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding: 23px 32px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: url('menu-hover.png') repeat-x scroll 0 -1000px transparent;
}


.mm-items li a:hover, .mm-items .active a{
    color: #DDDDE4;
    background-position: 0 0;
}

.search-box{
    float: right;
    margin: 16px 20px 0 0;
}

.search-bg{
    background: url('search-bg.jpg') repeat-x scroll 0 0 transparent;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    padding: 0 18px;
}

.search-box input{
    background: url('trans.png') repeat scroll 0 0 transparent;
    border: medium none;
    color: #FF69A5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    height: 38px;
    line-height: 18px;
    margin: 0;
    outline: medium none;
    padding: 10px 10px 10px 0;
    width: 205px;
}

/*------THE END------------ main menu*/


/*----------------- banners*/

.bb-outer{
    width: 1024px;
    margin: 0 auto 30px;
}

.bb-inner{
    width: 1040px;
    overflow: hidden;
    margin:0 auto;
}

.bb-item{
    float: left;
    margin-right: 16px;
    width:330px;
    height: 600px;
    background: #000;
}

.bb-item img{
    display: block;
}


/*-------THE END---------- banners*/




/*----------------- maincontent*/

.maincontent-outer{
    width: 100%;
    background: #ccc url('main-bg.gif') 0 0 repeat;
}

.maincontent-middle{
    background:   url('main-tail.gif') center 0  repeat-y;
}



.maincontent-inner{
    background: url('mainbg-shining.jpg') center top  no-repeat;
}    


.mc-wrapper{
    min-height: 600px;
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0 ;
}


/*
sidebar
*/

.main-sidebar{
    float: left;
    width: 244px;
    margin-right: 40px;
    overflow: hidden;
}

.ms-block{
    margin-bottom: 20px;
}

.ms-block, .ms-block h1{
     font-family: 'Emilys Candy',cursive;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    text-transform: uppercase;
}


.ms-block img{
      background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
    display: block;
}

.block-head{
    background: url('heading-shining.png') no-repeat scroll 0 bottom transparent;
    padding-bottom: 7px;
}



.block-head > h1, .content-block > h1{
     background: url('box-heading.gif') repeat-x scroll 0 0 #F53665;
    color: #FFFFFF;
    font-family: 'Emilys Candy',cursive;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    padding: 11px 0 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.category-block h1{
    background: #3F3A4D url('category-heading.gif') 0 0 repeat-x;
}

.category-block  ul  li{
    background: url('line-2.png') repeat-x scroll 0 top transparent;
    line-height: 15px;
    padding: 10px 0 12px 19px;
    position: relative;
}    

.category-block ul li:first-child{
    background:none;
}


.open-close{
    background: url("open-close.png") repeat scroll center top transparent;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 23px;
    width: 6px;
    cursor: pointer;
}


.expanded{
    background-position: center bottom;
}



.category-block ul li a{
    background: url('category-marker.png') no-repeat scroll 0 1px transparent;
    color: #2E2A3A;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 0 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.category-block ul li a:hover{
     color: #F74275;
}

.block-item-info{
    overflow: hidden;
}

.specials li{
    display: block;
    background: url('line-2.png') repeat-x scroll 0 0 transparent;
    padding: 20px 0
}

.specials li:first-child{
    background: none;
}

.block-content img{
    float: left;
    margin-right: 20px;
}

.block-item-info .name a{
    font-size: 11px;
    line-height: 18px;
}

.block-item-info .name{
    padding: 7px 0 13px;
}

.block-item-info .price span{
    display: block;
}





.content-block{
    float: left;
    width: 740px;
    overflow: hidden;
}

.content-block  h1{
     background: none repeat scroll 0 0 transparent;
    color: #F74779;
    padding: 20px 0;
}


.item-boxes-inner{
    width:760px;
    overflow: hidden;
    position: relative;
}



.itembox{
    float: left;
    margin: 20px 20px 20px 0;
    width: 170px;
    padding: 3px;
    position: relative;
}

.itembox:first-of-type .cart-button{
    position: relative;
}


.item-boxes-inner h1 +.itembox >.cart-button:after{
    background: none repeat scroll 0 0 #D5D4D2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    bottom: -25px;
    width: 735px;
}

.itembox figure{
    position: relative;
}

.itembox .name{
    min-height: 80px;
    padding: 10px 0 0 0;
    overflow: hidden;
    max-height: 80px;
}


.itembox img{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
    display: block;
}

.quick-view{
    position: absolute;
    top:41%;
    left:14%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.itembox:hover .quick-view{
    visibility: visible;
    opacity: 1;
}

.itembox .price{
    margin-bottom: 10px;
}

/*--------THE END--------- maincontent*/


.f-box{
    float: left;
    width: 24%;
}

.f-box h3{
     color: #696E89;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 26px;
    text-transform: capitalize;
}

.f-box a{
    font-size: 11px;
    padding-left: 13px ;
    display: block;
    background:  url('links-marker.gif') left center no-repeat;
    text-transform: capitalize;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -ms-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
    color: #696E89;
}

.f-box a:hover{
    color: #F53767;
    padding-left: 19px;
}


.footer-boxes-wrapper{
    width: 1024px;
    margin:43px auto 43px;
}

.copy{
    width: 1024px;
    margin: 0 auto;
    text-align: right;
     color: #696E89;
    font-size: 11px;
    padding: 17px 0 20px;border-top: 1px solid #7E7E7E;
}

.copy a{
    color: #696E89;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;

}

.copy a:hover{
     text-decoration: underline;
}

/*------------------- footer*/
    
/*---------THE END---------- footer*/


/*temp*/


#colorbox, #colorbox *{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

#colorbox{
    overflow: visible !important;
}

.qw{
    padding: 15px;
}

#qw *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.product-image{
    float: left;
    margin: 0 20px 20px 0;
}

.deep-info a{
    text-decoration: underline;
}

.deep-info a:hover{
    text-decoration: none;
}

.deep-info p{
    line-height: 23px;
}

.qw .buy, .qw .price{
    padding: 10px 0;
}

.product-title{
    color: #191919;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 25px;
    font-family: 'Emilys Candy',cursive;
}


.stock{
    background: url('stock-w.png') left 0px no-repeat;
display: inline-block;
font-size: 12px;
height: 38px;
line-height: 25px;
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;
text-align: center;
width: 38px;
color: #fff;
font-weight: normal;
}

.towish a{
    display: inline-block;
background: url('iconimage.png') no-repeat 0px 0px;
height: 24px;
margin: 0 5px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.tocompare a{
background: url('iconimage.png') no-repeat -29px 0px;
display: inline-block;
height: 24px;
overflow: hidden;
text-indent: -9999px;
width: 25px;
}

.towish:hover a{
    background-position: 0 -24px;
}

.tocompare:hover a{
    background-position: -29px -24px;
}

.qw-text{
    clear: both;
    height: 180px;
padding: 15px;
overflow: auto;
border: 1px solid #ccc;
}

/*---------THE END -------- footer*/

.breadcrumb{
color: #fff;
padding: 6px 5px 5px 10px;
font-size: 12px;
margin-bottom: 10px;
background: url('box-heading.gif') repeat-x;
}

.breadcrumb a{
    font-size: 12px;
color: #fff;
text-decoration: none;
font-weight: bold;
}

.breadcrumb a:hover{
    color: #2E2A3A;
}

.single-products{
    float: left;
    margin-right: 15px;
    background: #4D485D;
    position: relative;
    z-index: 1;
    width: 300px;
height: 300px;
}

.products-info{
    width: 400px;
    height: 400px;
    float: left;

}

.single-title{
    color: #303030 !important;
    padding-top: 4px;
    font-size: 25px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 13px;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'Emilys Candy',cursive;
    padding: 0 !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #d6d5d3;

}

.single-info, .single-info a{
    color: #191919;
font-weight: bold;
}

.single-info span{
    color: #A6A4A4;
}

.single-info .stock{
    width: 50px;
    height: 50px;
    color:#fff;
}


/*this must be moved*/